.resource-page {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0A0E17;
}

.resource-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* Loading state */
.resource-page::before {
    content: 'Cargando recurso...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-secondary);
    font-size: 18px;
    z-index: -1;
}